Final Flow.json
[{"id":"9da29943.afe398","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"8bafd3da.ae18f","type":"http request","z":"9da29943.afe398","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Chennai&appid=3d9b994874d22aad521bc7b16a172c37&units=metric","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":260,"wires":[["7456991c.c17a98","bd2b1093.89e47","f42862a.cf0f3a","c9851205.63a51"]]},{"id":"7456991c.c17a98","type":"debug","z":"9da29943.afe398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"71e3df68.7bca","type":"inject","z":"9da29943.afe398","name":"httprequest","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"Hello world","payload":"","payloadType":"str","x":70,"y":300,"wires":[["8bafd3da.ae18f"]]},{"id":"ace6004e.30771","type":"ui_gauge","z":"9da29943.afe398","name":"","group":"7a1662f7.70589c","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{msg.payload.main.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":260,"wires":[]},{"id":"aeef860e.d4bf78","type":"ui_gauge","z":"9da29943.afe398","name":"","group":"7a1662f7.70589c","order":0,"width":0,"height":0,"gtype":"gage","title":"pressure","label":"units","format":"{{msg.payload.main.pressure}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":320,"wires":[]},{"id":"deef2af0.9eab58","type":"ui_gauge","z":"9da29943.afe398","name":"","group":"7a1662f7.70589c","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.main.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":420,"wires":[]},{"id":"1ea75bea.3792f4","type":"http in","z":"9da29943.afe398","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":480,"wires":[["1bec80c3.f4fbcf"]]},{"id":"1bec80c3.f4fbcf","type":"function","z":"9da29943.afe398","name":"","func":"msg.payload = {'temperature': global.get(\"temperature\"),'Humidity':global.get('humidity'),'pressure':global.get('pressure')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":480,"wires":[["a68cc094.7dd89"]]},{"id":"a68cc094.7dd89","type":"http response","z":"9da29943.afe398","name":"","statusCode":"","headers":{},"x":610,"y":480,"wires":[]},{"id":"c9851205.63a51","type":"function","z":"9da29943.afe398","name":"","func":"global.set('temperature',msg.payload.main.temp)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":280,"wires":[["ace6004e.30771"]]},{"id":"bd2b1093.89e47","type":"function","z":"9da29943.afe398","name":"","func":"global.set('pressure',msg.payload.main.pressure)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[["aeef860e.d4bf78"]]},{"id":"f42862a.cf0f3a","type":"function","z":"9da29943.afe398","name":"","func":"global.set('humidity',msg.payload.main.humidity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":400,"wires":[["deef2af0.9eab58"]]},{"id":"bbf634e8.8f8308","type":"ibmiot out","z":"9da29943.afe398","authentication":"apiKey","apiKey":"e6bb601e.ea33e","outputType":"cmd","deviceId":"1234","deviceType":"nodemcu","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":600,"wires":[]},{"id":"ca090769.1bea28","type":"ui_button","z":"9da29943.afe398","name":"","group":"25c63f41.edf51","order":0,"width":0,"height":0,"passthru":false,"label":"Sprinkler ON","tooltip":"","color":"Green","bgcolor":"Black","icon":"","payload":"Sprinkler ON","payloadType":"str","topic":"","x":330,"y":600,"wires":[["bbf634e8.8f8308","1044ab13.49c355"]]},{"id":"80a1ffad.daa4c","type":"ui_button","z":"9da29943.afe398","name":"","group":"25c63f41.edf51","order":1,"width":0,"height":0,"passthru":false,"label":"Sprinkler OFF","tooltip":"","color":"red","bgcolor":"Black","icon":"","payload":"Sprinkler OFF","payloadType":"str","topic":"","x":350,"y":740,"wires":[["bbf634e8.8f8308"]]},{"id":"f01753d2.06e83","type":"http in","z":"9da29943.afe398","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":220,"y":840,"wires":[["f1995977.77f218"]]},{"id":"ba3aea21.2c6fe8","type":"http response","z":"9da29943.afe398","name":"","statusCode":"","headers":{},"x":770,"y":840,"wires":[]},{"id":"f1995977.77f218","type":"function","z":"9da29943.afe398","name":"command","func":"msg.payload =msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":840,"wires":[["ba3aea21.2c6fe8","bbf634e8.8f8308","e97ec305.ae5f1"]]},{"id":"e97ec305.ae5f1","type":"debug","z":"9da29943.afe398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":780,"wires":[]},{"id":"1044ab13.49c355","type":"debug","z":"9da29943.afe398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":520,"wires":[]},{"id":"c6b92447.e41b78","type":"ibmiot in","z":"9da29943.afe398","authentication":"apiKey","apiKey":"e6bb601e.ea33e","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":60,"wires":[["308969b7.2c3786"]]},{"id":"4e6fc72d.b72e18","type":"debug","z":"9da29943.afe398","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":20,"wires":[]},{"id":"89ffb58f.a89bc8","type":"ui_gauge","z":"9da29943.afe398","name":"","group":"28936e89.ae2f52","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.temperature}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":40,"wires":[]},{"id":"a36267a0.827c38","type":"ui_gauge","z":"9da29943.afe398","name":"","group":"28936e89.ae2f52","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":80,"wires":[]},{"id":"47f66af8.d3e154","type":"ui_gauge","z":"9da29943.afe398","name":"","group":"28936e89.ae2f52","order":2,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"units","format":"{{msg.payload.objectTemp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":120,"wires":[]},{"id":"308969b7.2c3786","type":"split","z":"9da29943.afe398","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload.d","x":370,"y":40,"wires":[["4e6fc72d.b72e18","70e19336.b394fc","261a7395.7b176c","b8a35c35.5c7b9"]]},{"id":"f55e8ac5.047d58","type":"http in","z":"9da29943.afe398","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":250,"y":160,"wires":[["3d87b0fe.922d8"]]},{"id":"3a97944b.02370c","type":"http response","z":"9da29943.afe398","name":"","statusCode":"","headers":{},"x":590,"y":160,"wires":[]},{"id":"3d87b0fe.922d8","type":"function","z":"9da29943.afe398","name":"","func":"msg.payload = {'temperature': global.get(\"temp\"),'Humidity':global.get('humi'),'objectTemp':global.get('moisture')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["3a97944b.02370c"]]},{"id":"70e19336.b394fc","type":"function","z":"9da29943.afe398","name":"","func":"global.set('temp',msg.payload.temperature)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":40,"wires":[["89ffb58f.a89bc8"]]},{"id":"261a7395.7b176c","type":"function","z":"9da29943.afe398","name":"","func":"global.set('humi',msg.payload.humidity)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":80,"wires":[["a36267a0.827c38"]]},{"id":"b8a35c35.5c7b9","type":"function","z":"9da29943.afe398","name":"","func":"global.set('moisture',msg.payload.objectTemp)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":120,"wires":[["47f66af8.d3e154"]]},{"id":"7a1662f7.70589c","type":"ui_group","z":"","name":"REAL-TIME WEATHER APPLICATION","tab":"b41c84d3.632688","order":4,"disp":true,"width":"6","collapse":false},{"id":"e6bb601e.ea33e","type":"ibmiot","z":"","name":"newapi","keepalive":"60","serverName":"sfier9.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"25c63f41.edf51","type":"ui_group","z":0,"name":"Sprinkler","tab":"b41c84d3.632688","order":7,"disp":true,"width":"6","collapse":false},{"id":"28936e89.ae2f52","type":"ui_group","z":"","name":"SENSOR VALUES","tab":"b41c84d3.632688","order":1,"disp":true,"width":"6","collapse":false},{"id":"b41c84d3.632688","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]